<a class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 white:bg-gray-800 white:border-gray-700 white:hover:bg-gray-700">

<form [formGroup]="vehicleDataForm" (ngSubmit)="create()"  class="w-full max-w-lg" action="">
  
  <div class="flex flex-wrap -mx-3 mb-6">

    <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0">
    <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Brand</label>
    <input type="text" id="brand"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500 white:shadow-sm-light"
      formControlName="brand" required [(ngModel)]="vehicleData.brand">
  </div>
  
<div class="w-full md:w-1/1 px-3 mb-6 md:mb-0">
    <label for="model" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Model</label>
    <input type="text" id="model"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500 white:shadow-sm-light"
      formControlName="model" required [(ngModel)]="vehicleData.model">
    </div>



  
<div class="w-full md:w-1/1 px-3 mb-6 md:mb-0">
    <label for="vin" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Vin</label>
    <input type="text" id="vin"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500 white:shadow-sm-light"
      formControlName="vin" required [(ngModel)]="vehicleData.vin">
  </div>

  <div class="w-full md:w-1/1 px-3">
    <label for="plate" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Plate</label>
    <input type="text" id="plate"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500 white:shadow-sm-light"
      formControlName="plate" required [(ngModel)]="vehicleData.plate">
  </div>
  
  <div class="w-full md:w-1/1 px-3">
    <label for="purchasedDate" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Purchase
      Date</label>
    <input type="date" id="purchasedDate"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500 white:shadow-sm-light"
      formControlName="purchasedDate" required [(ngModel)]="vehicleData.purchasedDate">
  </div>

  <div class="w-full md:w-1/1 px-3">
    <label for="cost" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Cost</label>
    <input type="number" id="cost"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500 white:shadow-sm-light"
      formControlName="cost" required [(ngModel)]="vehicleData.cost">
  </div>
  
  <div class="w-full md:w-1/1 px-3">
    <label for="photoUrl" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Photo URL</label>
    <input type="text" id="photoUrl"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500 white:shadow-sm-light"
      formControlName="photoUrl" required [(ngModel)]="vehicleData.photoUrl">
  </div>
</div>

  
    <div style="text-align: center;">
      <button type="submit" [disabled]="!vehicleDataForm.valid"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-20 py-2.5 text-center white:bg-blue-600 white:hover:bg-blue-700 white:focus:ring-blue-800">
      Create</button>
  </div>


  </form>
</a>