<form [formGroup]="assignmentHistoryDataForm" class="w-full max-w-lg" action="">
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="vehicleId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Vehicle ID</label>
            <input type="text" id="vehicleId"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                formControlName="vehicleId" required [(ngModel)]="assignmentHistoryData.vehicleId">
        </div>
        
        <div class="w-full md:w-1/2 px-3">
            <label for="driverId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Driver ID</label>
            <input type="text" id="driverId"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                formControlName="driverId" required [(ngModel)]="assignmentHistoryData.driverId">
        </div>
    </div>
    
    <button type="submit" [disabled]="!assignmentHistoryDataForm.valid" (click)="update()"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update</button>
</form>
