<div class="container mx-auto py-4 overflow-x-auto">
  <table class="table-auto border-separate border-spacing-0 w-full bg-white rounded-lg shadow-lg overflow-hidden">
    <thead class="bg-gray-700 text-white">
      <tr>
        <th class="p-4 text-center">ID</th>
        <th class="p-4 text-center">First name</th>
        <th class="p-4 text-center">Last name</th>
        <th class="p-4 text-center">Birth date</th>
        <th class="p-4 text-center">License number</th>
        <th class="p-4 text-center">CURP</th>
        <th class="p-4 text-center">Address</th>
        <th class="p-4 text-center">Monthly salary</th>
        <th class="p-4 text-center" colspan="2"> <!-- Aquí especificamos colspan="2" para ocupar dos celdas -->
          <div class="flex justify-center"> <!-- Aquí usamos flexbox para centrar horizontalmente -->
            <button type="button" class="btn bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
              routerLink="/admin/createDriver">
              Create
            </button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let driver of drivers" class="border-b last:border-0 hover:bg-gray-100">
        <td class="p-4 border-t border-gray-300">{{ driver.id }}</td>
        <td class="p-4 border-t border-gray-300">{{ driver.firstName }}</td>
        <td class="p-4 border-t border-gray-300">{{ driver.lastName }}</td>
        <td class="p-4 border-t border-gray-300">{{ driver.birthDate }}</td>
        <td class="p-4 border-t border-gray-300">{{ driver.licenseNumber }}</td>
        <td class="p-4 border-t border-gray-300">{{ driver.curp }}</td>
        <td class="p-4 border-t border-gray-300">{{ driver.address }}</td>
        <td class="p-4 border-t border-gray-300">{{ driver.monthlysalary }}</td>
        <td class="p-4 border-t border-gray-300">
          <button type="button" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          [routerLink]="['/admin/drivers', driver.id]">
            Edit
          </button>
        </td>
        <td class="p-4 border-t border-gray-300">
          <button type="button" class="btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          (click)="delete(driver.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
