<br>
<div class="container max-w-sm min-w-min">
  <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 white:bg-gray-800 white:border-gray-700 white:hover:bg-gray-700">
    <form [formGroup]="registerForm" (ngSubmit)="register()" action="">
      <div class="flex flex-wrap -mx-3 mb-6">
    
        <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Email</label>
          <input type="email" id="email" formControlName="email"
            placeholder="name@flowbite.com" required
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500 white:shadow-sm-light">
          <small *ngIf="email.touched && email.hasError('required')" class="text-red-500">Email is required</small>
          <small *ngIf="email.touched && email.hasError('email')" class="text-red-500">Email must be valid</small>
        </div>

        <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0 mt-6">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Password</label>
          <input type="password" id="password" formControlName="password"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500 white:shadow-sm-light"
            required>
          <small *ngIf="password.touched && password.hasError('required')" class="text-red-500">Password is required</small>
          <small *ngIf="password.touched && password.hasError('pattern')" class="text-red-500">Must contain at least one number and one uppercase
            and lowercase letter, and at least 8 or more characters</small>
        </div>

        <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0 mt-6">
          <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">Repeat your
            password</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500 white:shadow-sm-light"
            required>
          <small *ngIf="confirmPassword.touched && registerForm.hasError('passwordsNotMatching')" class="text-red-500">Password
            confirmation not
            matching</small>
        </div>

        <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0 mt-6">
          <label for="codeInvitation" class="block mb-2 text-sm font-medium text-gray-900 white:text-white">codeInvitation</label>
          <input type="codeInvitation" id="codeInvitation" formControlName="codeInvitation"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 white:bg-gray-700 white:border-gray-600 white:placeholder-gray-400 white:text-white white:focus:ring-blue-500 white:focus:border-blue-500 white:shadow-sm-light"
             required>
          <small *ngIf="codeInvitation.touched && codeInvitation.hasError('required')" class="text-red-500">codeInvitation is required</small>
          <small *ngIf="codeInvitation.touched && codeInvitation.hasError('codeInvitation')" class="text-red-500">codeInvitation must be valid</small>
        </div>
    
    </div>

    <div style="text-align: center;">
      <button type="submit" [disabled]="registerForm.invalid"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-20 py-2.5 text-center white:bg-blue-600 white:hover:bg-blue-700 white:focus:ring-blue-800">Register
        new account</button>
    </div>

    </form>
  </div>
</div>
