<div class="container mx-auto py-4 overflow-x-auto">

  <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-dark">Assignation<span class="text-blue-600 dark:text-blue-500">History</span></h1>

  <table class="table-auto border-separate border-spacing-0 w-full bg-white rounded-lg shadow-lg overflow-hidden">
    <thead class="dark:bg-gray-900 text-white">
      <tr>
        <th class="p-2 text-center">ID</th> <!-- Reducimos el padding a p-2 para hacer la tabla más estrecha -->

        <th class="p-2 text-center">Vehicle ID</th> <!-- Reducimos el padding a p-2 para hacer la tabla más estrecha -->
        <th class="p-2 text-center">Driver ID</th>
        <th class="p-2 text-center" colspan="2"> <!-- Aquí especificamos colspan="2" para ocupar dos celdas -->
          <div class="flex justify-center"> <!-- Aquí usamos flexbox para centrar horizontalmente -->
            <button type="button" class="btn bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
              routerLink="/admin/createAssignmentHistory">
              Create
            </button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b last:border-0 hover:bg-gray-100" *ngFor="let assignmentHistory of assignmentHistory">
        <td class="p-2 border-t border-gray-300 text-center">{{ assignmentHistory.id }}</td> <!-- Reducimos el padding a p-2 para hacer la tabla más estrecha -->

        <td class="p-2 border-t border-gray-300 text-center">{{ assignmentHistory.vehicleId }}</td> <!-- Reducimos el padding a p-2 para hacer la tabla más estrecha -->
        <td class="p-2 border-t border-gray-300 text-center">{{ assignmentHistory.driverId }}</td>
        <td class="p-2 border-t border-gray-300 text-center">
          <button type="button" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            [routerLink]="['/admin/assignmentHistory', assignmentHistory.id]">
            Edit
          </button>
        </td>
        <td class="p-2 border-t border-gray-300 text-center">
          <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            (click)="delete(assignmentHistory.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
