<div class="container mx-auto py-4 overflow-x-auto">
  <table class="table-auto border-separate border-spacing-0 w-full bg-white rounded-lg shadow-lg overflow-hidden">
    <thead class="bg-gray-700 text-white">
      <tr>
        <th class="p-4 text-center">ID</th>
        <th class="p-4 text-center">Route </th>
        <th class="p-4 text-center">Problem description</th>
        <th class="p-4 text-center">comments</th>
        <th class="p-4 text-center">Start latitude</th>
        <th class="p-4 text-center">Start longitude</th>
        <th class="p-4 text-center">End latitude</th>
        <th class="p-4 text-center">End longitude</th>
        <th class="p-4 text-center">Assigned History ID</th>
        <th class="p-4 text-center" colspan="2">
          <button type="button" class="btn bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            routerLink="/admin/createRoute">
            Create
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b last:border-0 hover:bg-gray-100" *ngFor="let route of routes">
        <td class="p-4 border-t border-gray-300">{{ route.routeName }}</td> <!--cambiar a route.id-->
        <td class="p-4 border-t border-gray-300">{{ route.routeName }}</td>
        <td class="p-4 border-t border-gray-300">{{ route.problemDescription }}</td>
        <td class="p-4 border-t border-gray-300">{{ route.comments }}</td>
        <td class="p-4 border-t border-gray-300">{{ route.startLatitude }}</td>
        <td class="p-4 border-t border-gray-300">{{ route.startLongitude }}</td>
        <td class="p-4 border-t border-gray-300">{{ route.endLatitude }}</td>
        <td class="p-4 border-t border-gray-300">{{ route.endLongitude }}</td>
        <td class="p-4 border-t border-gray-300">{{ route.assignedHistoryId }}</td>
        <td class="p-4 border-t border-gray-300">
          <button type="button" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            routerLink="/admin/routes/{{route.routeName}}"> <!--Cambiar a route.id-->
            Edit
          </button>
        </td>
        <td class="p-4 border-t border-gray-300">
          <button type="button" class="btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            (click)="delete(route.routeName)"> <!--Cambiar a route.id-->
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
