<div class="container mx-auto py-4">
  <table class="table-auto border-separate border-spacing-0 w-full bg-white rounded-lg shadow-lg overflow-hidden">
    <thead class="bg-gray-700 text-white">
      <tr>
        <th class="p-4 text-center">ID</th>
        <th class="p-4 text-center">Brand</th>
        <th class="p-4 text-center">Model</th>
        <th class="p-4 text-center">Vin</th>
        <th class="p-4 text-center">Plate</th>
        <th class="p-4 text-center">Purchased Date</th>
        <th class="p-4 text-center">Cost</th>
        <th class="p-4 text-center">Photo</th>
        <th class="p-4 text-center" colspan="2">
          <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            routerLink="/admin/createVehicle">
            Create
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles" class="border-b last:border-0 hover:bg-gray-100">
        <td class="p-4 border-t border-gray-300">{{ vehicle.id }}</td>
        <td class="p-4 border-t border-gray-300">{{ vehicle.brand }}</td>
        <td class="p-4 border-t border-gray-300">{{ vehicle.model }}</td>
        <td class="p-4 border-t border-gray-300">{{ vehicle.vin }}</td>
        <td class="p-4 border-t border-gray-300">{{ vehicle.plate }}</td>
        <td class="p-4 border-t border-gray-300">{{ vehicle.purchasedDate }}</td>
        <td class="p-4 border-t border-gray-300">{{ vehicle.cost }}</td>
        <!-- Aquí se muestra la imagen -->
        <td class="p-4 border-t border-gray-300">
          <img [src]="vehicle.photoUrl" alt="Vehicle Photo" class="w-21 h-24 object-cover rounded-md mx-auto">
        </td>
        
        <!-- Resto de las columnas -->
        <td class="p-4 border-t border-gray-300">
          <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            [routerLink]="['/admin/vehicle', vehicle.id]">
            Edit
          </button>
        </td>
        <td class="p-4 border-t border-gray-300">
          <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            (click)="delete(vehicle.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
